# To upload this project to PyPI, follow these steps:
#
# pip install build twine
# rm -rf dist build *.egg-info
# python -m build
# twine upload dist/*
# username: __token__
# password: pypi-xxxxxxxxxxxxxxxx

# Includes data
recursive-include mepylome/data/ *
