# ===========================
# Default parameters used for all datasets.
# These can be overwritten for specific datasets if needed.
# ===========================

[defaults]
# Path to a file containing CpGs that should be excluded from analysis.
cpg_blacklist_path = "~/mepylome/data/cpg_blacklist.csv"

# List of machine learning algorithms used for analysis.
# Each method includes a short explanation below.
classifier_list = [
  # Extra Trees (tree-based method)
  "vtl-kbest(k=10000)-et",

  # Linear regression using the top 10,000 CpGs
  "vtl-kbest(k=10000)-lr(max_iter=10000)",
]

# ===========================
# Parameters specific to methylation analysis
# ===========================

[defaults.methyl_analysis]

# Directory where analysis results will be saved. Deleted files will be
# recalculated automatically.
output_dir = "~/mepylome/outputs"

# Number of CpGs to use when calculating UMAP (data visualization method)
n_cpgs = 25000

# If true, only CpGs that are present both in IDAT files and annotation file
# are analyzed
overlap = true

# Whether to use a graphics card for faster calculations (cumbersome to
# install).
use_gpu = false


# ===============================================================
# CNV (Copy-Number Variation) configuration
# ===============================================================

[diagnostic_config.cnvrefs]
name = "CNV"
do_cnv = true
version = "0.0.0"
[diagnostic_config.cnvrefs.methyl_analysis]
reference_dir = "~/mepylome/data/cnv_references"
cpgs = []

# Adds horozontal segmentation line. Must install `pip install ruptures`
do_seg = true


# ===========================
# MLH1 methylation configurations
# ===========================

[diagnostic_config.individual_idat_files]
name = "MLH1"
do_mlh1 = true
version = "0.0.0"
[diagnostic_config.individual_idat_files.methyl_analysis]
cpgs = []


# ===============================================================
# Salivary Gland Tumor configuration
# ===============================================================

[diagnostic_config.salivary_gland_tumors]
name = "Salivary Gland Tumors"
do_umap = true
do_classify = true
version = "0.0.0"
annotation_diagnosis_column = ["Methylation class"]
[diagnostic_config.salivary_gland_tumors.methyl_analysis]
analysis_dir = "~/mepylome/data/salivary_gland_tumors"
annotation = "~/mepylome/data/salivary_gland_tumors/salivary_gland_tumors.xlsx"
cpgs = "epic+epicv2"


# ===============================================================
# Soft Tissue Tumor configuration
# ===============================================================

[diagnostic_config.soft_tissue_tumors]
name = "Soft Tissue Tumors"
do_umap = true
do_classify = true
version = "0.0.0"
annotation_diagnosis_column = ["Methylation_class"]
[diagnostic_config.soft_tissue_tumors.methyl_analysis]
analysis_dir = "~/mepylome/data/soft_tissue_tumors"
annotation = "~/mepylome/data/soft_tissue_tumors/soft_tissue_tumors.xlsx"
cpgs = "450k+epic+epicv2"
